streamlit
langchain
langchain-community
langchain-groq
python-dotenv
pypdf
unstructured
fake_useragent
faiss-cpu
langchain-huggingface
streamlit
ConversationBufferMemory
PyPDFLoader
HuggingFaceEmbeddings
ChatPromptTemplate
ChatGroq

